The following example is adapted from our Search Labs post on using [ES|QL with the Python language client](https://www.elastic.co/search-labs/blog/esql-pandas-dataframes-python). You can load this data using a method described in this [blog post](https://www.elastic.co/search-labs/blog/analyzing-data-using-python-elasticsearch-and-kibana).

In [1]:
# Import required libraries
from io import StringIO  # Used to convert strings to file-like objects
from getpass import getpass  # Securely request password or sensitive input
from elasticsearch import (
    Elasticsearch,
)  # Elasticsearch client from the official library
import pandas as pd  # Pandas library for data manipulation

In [2]:
# Create an Elasticsearch client instance
ELASTIC_HOST = getpass("Host: ")
ELASTIC_API_KEY = getpass("API Key: ")

client = Elasticsearch(
    host=ELASTIC_HOST,
    api_key=ELASTIC_API_KEY,
)

Host:  ········
API Key:  ········

In [3]:
# Perform a query to retrieve the first 500 entries
response = client.esql.query(
    query="FROM esql | LIMIT 500",
    format="csv",  # Specify the output format as CSV
)

In [4]:
# Convert the CSV response into a pandas DataFrame
df = pd.read_csv(StringIO(response.body))
df  # Display the DataFrame

,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,FGM,FG_PCT,FTA,...,SEASON_ID.keyword,STL,TEAM_ABBREVIATION,TEAM_ABBREVIATION.keyword,TEAM_ID,TEAM_NAME,TEAM_NAME.keyword,TOV,WL,WL.keyword
0,21,3,35,37,14,0.378,86,36,0.419,18,...,42023,5,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,10,W,W
1,22,6,33,37,11,0.297,82,39,0.476,21,...,42023,4,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,5,W,W
2,21,8,33,32,12,0.375,80,37,0.463,21,...,42023,9,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,12,L,L
3,27,6,34,49,22,0.449,82,39,0.476,16,...,42023,6,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,10,W,W
4,29,15,38,32,16,0.500,89,51,0.573,21,...,22023,10,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,14,W,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,22,6,40,45,15,0.333,90,43,0.478,27,...,22023,4,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,11,W,W
81,27,2,46,35,20,0.571,95,54,0.568,28,...,22023,5,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,11,W,W
82,31,6,36,53,19,0.358,102,51,0.500,7,...,22023,11,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,17,W,W
83,20,6,39,39,16,0.410,95,45,0.474,19,...,22023,7,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,15,W,W
84,18,11,39,39,12,0.308,77,37,0.481,26,...,22023,6,BOS,BOS,1610612738,Boston Celtics,Boston Celtics,13,W,W

In [5]:
# Query to fetch game dates and win/loss information, limiting to 10 entries
wl_date = client.esql.query(
    query="FROM esql | KEEP GAME_DATE, WL | LIMIT 10",
    format="csv",
)

In [6]:
# Convert the query response into a DataFrame
wl_date_df = pd.read_csv(StringIO(wl_date.body))
wl_date_df  # Display the DataFrame

                  GAME_DATE WL
0  2024-04-29T00:00:00.000Z  W
1  2024-04-27T00:00:00.000Z  W
2  2024-04-24T00:00:00.000Z  L
3  2024-04-21T00:00:00.000Z  W
4  2024-04-14T00:00:00.000Z  W
5  2024-04-12T00:00:00.000Z  W
6  2024-04-11T00:00:00.000Z  L
7  2024-04-07T00:00:00.000Z  W
8  2024-04-05T00:00:00.000Z  W
9  2024-04-03T00:00:00.000Z  W

In [7]:
# Query to calculate average field goal percentage and average three-point percentage
stats = client.esql.query(
    query="FROM esql | STATS AVG(FG_PCT), AVG(FG3_PCT) | LIMIT 1",
    format="csv",
)

In [8]:
# Convert the stats query response into a DataFrame
stats_df = pd.read_csv(StringIO(stats.body))
stats_df  # Display the DataFrame

   AVG(FG_PCT)  AVG(FG3_PCT)
0     0.487341      0.387706